:root {
    --h1_font_size: 60px;
}

html {
    background-color: #00539F;
    background-image: linear-gradient(0deg, #FF9500 0%, #007700 50%, #00539F 100%);

    font-size: 20px;
    font-family: 'Noto Serif TC', serif;
}

body {
    width: 100%;
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    padding: 0;
    border: 5px solid black;

    background-color: #FF9500;
    background-image: url(../images/546902.jpg);
    background-size: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}